<h2>Order <%= food_order.ordernum %></h2>
<% if food_order.created_at > (Time.now - 48.hours) %>
  <p>
    <strong>***NEW***</strong>
  </p>
<% end %>
<% if food_order.updated_at > (Time.now - 48.hours) %>
  <p>
    <strong>***UPDATED***</strong>
  </p>
<% end %>
<p>
  <strong>Item Name: </strong>
  <%= food_order.food.name %>
</p>
<p>
  <strong>Description: </strong>
  <%= food_order.food.desc %>
</p>
<p>
  <strong>Size: </strong>
  <%= food_order.food.quantity %>
</p>
<p>
  <strong>Cost: </strong>
  <%= food_order.food.cost %>
</p>
<p>
  <strong>Notes: </strong>
  <%= food_order.notes %>
</p>
<% if show_details_link %>
  <p>
    <%= link_to 'View Details', food_order %>
  </p>
<% end %>